/*
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    */

/* table of contents

1. global styles 

2. typography 

3. components
  3.1 buttons

/*
    /* ==============
      global styles
    ============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  overflow-x: hidden;
}

h3 {
  text-align: center;
  font-size: 62px;
  margin-bottom: 50px;
}

footer {
  background: gray;
}
ul {
  list-style-type: none;
}
.main-nav-link {
  text-decoration: none;
}
a:link {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
p {
  display: block;
}
section {
  margin: 200px 0;
}
.features {
  padding: 200px 0;
}

/* =================
General Resuable components
=================== */

.container {
  /* 1140px*/
  max-width: 120rem;
  padding: 0 3.2rem;
  padding: 0 auto;
}
.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*================
  Header
  ===============*/
header {
  margin: 10px 0;
}

.lady-img {
  width: 100%;
}

/*================
  main navbar
  ===============*/

.main-nav {
  margin: 10px 0;
}
.main-nav-bar {
  display: flex;
  gap: 30px;
}

/*================
  image field
  ===============*/
.image-textbox {
  position: relative;
  text-align: center;

  color: white;
}
.small-imagetext {
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  top: 30px;
  left: 16px;
}
.big-imagetext {
  position: absolute;
  font-family: "Source Serif Pro", sans-serif;
  top: 60px;
  left: 16px;
  font-size: 62px;
}
.para-imagetext {
  position: absolute;
  font-size: 22px;
  top: 350px;
  line-height: 1.5;
  left: 16px;
}

/* ================
 tier-pricing
 =============== */

.wordpress-tiers {
  margin: 50px 0;
  background-color: #fff;
}
.wordpress {
  margin-bottom: 70px;
}
.wordpress-tier-title {
  font-family: "Source Serif Pro", sans-serif;
  font-size: 60px;
  margin-bottom: 10px;
}

.wordpress-tier-sentence {
  font-size: 22px;
}
.wordpress-tier-title,
.wordpress-tier-sentence {
  text-align: center;
}

.pricing-tiers {
  background-color: #fbfbfb;
  border: 1px solid #e6e6e6;
  color: #1d2a3b;
  padding: 0 10px;
}
.tier-list-text {
  padding-left: 0;
  margin: 10px 0;
  line-height: 1.5;
}

.pricing-text {
  font-family: "Source Serif Pro", sans-serif;
  font-size: 35px;
  text-align: center;
}
.btn-pricing {
  display: flex;
  justify-content: center;
}
.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* =============
wordpress features 
===============*/
.features {
  background: #628dd1;
  color: white;
  font-family: "Source Serif Pro", sans-serif;
}
.bi {
  font-size: 32px;
  color: black;
}
.features-headline {
  font-size: 44px;
}
.features-text {
  font-size: 24px;
  line-height: 1.5;
}

.grid--6-cols {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
/*=================
footer
=================*/
footer {
  display: flex;
}

.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 80px);
}
